body{
    margin:0;
    padding:0;
    background:#ccc;
    font-family:arial;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
    background-color:salmon;
    text-align:center;
}
li{
    display:inline-block;
}
a{
    text-decoration:none;   
    color:blue;
    width:100px;
    display:block;
    padding:25px 30px;
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
}
a:hover{
    background-color:orange;
}